<div class="main_section">
  <div class="container">
    <div class="chat_container">

      <div class="col-sm-12 message_section">
        <div class="row">
          <div class="chat_area">
            <ul class="list-unstyled">
              {{#each collection}}
                <li class="left clearfix">
                <div class="chat-body1 clearfix">
                    <p>{{{this.msg}}}</p>
                    <div class="chat_time pull-right">{{this.date}}</div>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>

            <form class="message_write" id="chat-form">
              <input id="message" class="form-control" placeholder="Type a message">
              <div class="clearfix"></div>
              <button type="submit" class="pull-right btn btn-success">Send</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
